<template name="bd">
  <div class ="container">
      {{>bdships}}
  </div>

{{> autoformModals}}
</template>

<template name="bdships">
      <h3>Brian's Ships</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="numberTable">No</th>
          <th class="numberTable">Month No</th>
          <th class="et">Ship</th>
          <th class="et">GT</th>
          <th class="et">Berth</th>
          <th class="et">Boarded</th>
        </tr>
      </thead>
      {{#each brinships}}
      <tbody>
            <td>{{Bdrefno}}</td>
            <td>{{monthNo}}</td>
            <td><a href="{{pathFor 'bdshipEdit.show'}}"><strong>{{shipname}}</strong></a>
            </td>
            <td>{{gt}}</td>
            <td>{{port}}</td>
            <td>{{formattedeta}}</td>
      </tbody>
      {{/each}}
    </table>
</template>
