<template name="shipEdit">
    <div class ="container">
        <div class = "col-md-12">
  <h1>Edit Ships</h1>
  {{# autoForm collection="Ships" id="updateShipsForm" type="update" doc=this}}

  <fieldset>
    {{> afQuickField name="shipname"}}
    {{> afQuickField name="gt" }}
    {{> afQuickField name="imo" }}
    {{> afQuickField name="agent" }}
    {{> afQuickField name="port"}}
    {{> afQuickField name="stage" }}
    {{> afQuickField name="note" }}
    {{> afQuickField name="eta" }}
    <hr>

  </fieldset>
  <div class = "col-md-6">
      <h2>Inward</h2>
    <fieldset>
    {{> afQuickField name="boarding" autofocus=''}}
    {{> afQuickField name="inwardpilot"  }}
    {{> afQuickField name="arrivalnote" rows=2 }}
    {{> afQuickField name="Extrain"  }}
    {{> afQuickField name="confirmedIn"  }}
  </fieldset>
  </div>


  <div class = "col-md-6">
      <h2>Outward</h2>
    <fieldset>

  <!--  {{> afQuickField name="arrivalnote" rows=2}} -->

    {{> afQuickField name="sailing" }}
    {{> afQuickField name="outwardpilot"  }}
    {{> afQuickField name="outwardnote" rows=2 }}
    {{> afQuickField name="Extraout"  }}
    {{> afQuickField name="confirmedOut"  }}
  </fieldset>
  </div>
<div class = "col-md-12">
  <hr>
<fieldset>
  {{> afQuickField name="updateSource" }}
</fieldset>
<div>
  {{timeStamp}} by {{userId}}
</div>

<button type="submit" class="btn btn-primary">Submit</button>
  <a class="btn" href="/">Back</a>
</div>
  {{/autoForm}}

</div>
</div>
</template>

<template name="shipEditAlongside">
  <h1>Edit Ships before Sailing</h1>
  {{# autoForm collection="Ships" id="updateShipsForm" type="update" doc=this}}

  <fieldset>
    {{> afQuickField name="shipname"}}
    {{> afQuickField name="gt" }}
    {{> afQuickField name="port"}}
    <hr>
    {{> afQuickField name="sailing" autofocus='' }}
    {{> afQuickField name="note" rows=4}}

    <hr>
    {{> afQuickField name="outwardpilot" }}
    <hr>
    {{> afQuickField name="stage" }}


  </fieldset>
<!--  Standard quickform replaced by autoform
{{>quickForm collection="Ships" id="updateShipsForm" type="update" doc=this}}-->
<button type="submit" class="btn btn-primary">Submit</button>
  <a class="btn" href="/">Back</a>
  {{/autoForm}}
</template>
